/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 375px) {
  *,
  html,
  body {
    font-size: 12px;
  }
}
body {
  background-color: #F7F7F7;
  color: #101820;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.scroll-disabled {
  overflow: hidden;
}
.darken-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.darken-background.disabled {
  display: none;
}
header {
  background-color: black;
  height: 5rem;
  display: flex;
  z-index: 5;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  font-family: 'Circular Spotify Tx T Black';
}
header nav p {
  color: white;
  margin: 0 10px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  color: #ffffff;
  list-style-type: none;
  margin: 0 10px;
  cursor: pointer;
}
header nav ul li:nth-last-child(-n+3) {
  color: #d6d6d6;
  font-family: sans-serif;
  font-weight: 600;
}
header nav ul li:hover {
  color: #15c715;
}
header nav .burguer {
  display: none;
  cursor: pointer;
}
header nav .burguer div {
  width: 20px;
  height: 4px;
  background-color: white;
  margin-top: 4px;
}
li.logo {
  position: absolute;
  bottom: 16px;
}
@media screen and (min-width: 1024px) {
  nav img {
    width: 100px;
  }
  li.logo {
    display: none;
  }
  .horizontal {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  header {
    height: 3rem;
  }
  nav img {
    width: 80px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 4vh;
    flex-direction: column;
    background-color: black;
    margin-top: 0;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-left: 1rem;
  }
  .nav-links p.vertical {
    display: none;
  }
  .nav-links p.horizontal {
    margin-bottom: 2.5rem;
  }
  .nav-links li {
    opacity: 1;
    margin-bottom: 2rem;
    font-size: 32px;
  }
  .nav-links li:nth-last-child(-n+3) {
    font-size: 24px;
  }
  .burguer {
    display: block !important;
  }
}
.nav-active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.vantagens {
  margin: 4rem auto;
  text-align: center;
}
.vantagens .vantagens__titulo {
  font-family: 'Circular Spotify Tx T Black';
  font-size: 3rem;
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__titulo {
    max-width: 320px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__titulo {
    max-width: 300px;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 320px) {
  .vantagens .vantagens__titulo {
    max-width: 280px;
  }
}
.vantagens .vantagens__itens {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .vantagens .vantagens__itens {
    width: 1100px;
  }
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens {
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens {
    width: 100%;
    flex-direction: column;
  }
}
.vantagens .vantagens__itens .vantagens__item {
  margin-top: 2rem;
  width: 375px;
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo {
  width: 100%;
  margin-top: 1rem;
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo {
    margin: 1rem;
    text-align: start;
  }
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
  max-width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Circular Spotify Tx T Black';
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 550px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.5rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    max-width: 200px;
    font-size: 1.7rem;
  }
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-texto {
  font-family: 'Roboto';
}
@media screen and (max-width: 420px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-texto {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens .vantagens__item {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .vantagens .vantagens__itens .vantagens__item {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens .vantagens__item {
    max-width: 80%;
    margin: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__itens .vantagens__item {
    margin: 0 1rem;
  }
}
.vantagens .vantagens__item-img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.vantagens .vantagens__item-img img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .vantagens .vantagens__item-img {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__item-img {
    width: 30%;
  }
}
