/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 375px) {
  *,
  html,
  body {
    font-size: 12px;
  }
}
body {
  background-color: #F7F7F7;
  color: #101820;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vantagens {
  margin: 4rem auto;
  text-align: center;
}
.vantagens .vantagens__titulo {
  font-family: 'Circular Spotify Tx T Black';
  font-size: 3rem;
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__titulo {
    max-width: 320px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__titulo {
    max-width: 300px;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 320px) {
  .vantagens .vantagens__titulo {
    max-width: 280px;
  }
}
.vantagens .vantagens__itens {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .vantagens .vantagens__itens {
    width: 1100px;
  }
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens {
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens {
    width: 100%;
    flex-direction: column;
  }
}
.vantagens .vantagens__itens .vantagens__item {
  margin-top: 2rem;
  width: 375px;
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo {
  width: 100%;
  margin-top: 1rem;
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo {
    margin: 1rem;
    text-align: start;
  }
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
  max-width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Circular Spotify Tx T Black';
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 550px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.5rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    max-width: 200px;
    font-size: 1.7rem;
  }
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-texto {
  font-family: 'Roboto';
}
@media screen and (max-width: 420px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-texto {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens .vantagens__item {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .vantagens .vantagens__itens .vantagens__item {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens .vantagens__item {
    max-width: 80%;
    margin: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__itens .vantagens__item {
    margin: 0 1rem;
  }
}
.vantagens .vantagens__item-img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.vantagens .vantagens__item-img img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .vantagens .vantagens__item-img {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__item-img {
    width: 30%;
  }
}
footer {
  background-color: #002C4F;
  color: #F7F7F7;
  padding: 80px 0 50px;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #F7F7F7;
}
footer a:hover {
  color: #00A8A9;
}
.footer-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1170px;
}
.logo {
  padding: 0 15px;
  width: 15%;
}
.links-footer {
  width: 50%;
  display: flex;
}
.links-footer ul {
  flex: 1 0;
  padding: 0 15px;
  margin: 0;
}
.links-title {
  font-weight: 900;
  color: #7597ba;
  font-size: 0.7em;
  margin: 20px 0;
}
.links-footer ul li a {
  display: block;
  padding: 3px 0 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.social-midias {
  margin: 0 15px 0 auto;
}
.social-midias ul {
  display: flex;
  margin: 20px 0 0;
  padding: 0;
}
.social-midias li {
  margin-right: 15px;
}
.social-midias a {
  width: 45px;
  height: 45px;
  background-color: #7597ba;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.country {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 15px;
  font-size: 12px;
}
.country a {
  color: #7597ba;
}
.country a:hover {
  color: #00A8A9;
}
.bottom-links {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.bottom-links ul {
  display: flex;
  margin: 0 45px 0 0;
  padding: 0 0 0 15px;
}
.bottom-links li a {
  display: block;
  margin-right: 24px;
  padding: 1em 0;
  font-size: 12px;
  color: #7597ba;
}
.bottom-links li a:hover {
  color: #00A8A9;
}
.bottom-links span {
  margin: 0 15px 0 auto;
  padding: 1em 0;
  font-size: 12px;
  color: #efefef;
}
@media screen and (min-width: 1201px) {
  .logo {
    min-height: 346px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-box {
    max-width: 970px;
  }
}
@media screen and (max-width: 980px) {
  footer {
    padding: 50px 0 20px;
  }
  .footer-box {
    max-width: 750px;
  }
  .logo {
    display: block;
    width: 100%;
  }
  .links-footer {
    width: 100%;
  }
  .social-midias {
    margin: 120px 15px 15px;
    width: 100%;
  }
  .country {
    font-size: 10px;
  }
  .bottom-links {
    align-items: start;
  }
  .bottom-links ul {
    flex-wrap: wrap;
  }
  .bottom-links ul a {
    font-size: 10px;
  }
  .bottom-links span {
    flex-shrink: 0;
    font-size: 10px;
  }
}
@media screen and (max-width: 830px) {
  .links-footer {
    display: block;
  }
}
