/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 375px) {
  *,
  html,
  body {
    font-size: 12px;
  }
}
body {
  background-color: #F7F7F7;
  color: #101820;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner {
  background-color: #BF0032;
  height: 350px;
  padding: 3%;
}
.frase {
  font-size: 2rem;
  text-transform: bold;
  color: #F7F7F7;
  font-family: 'Circular Spotify Tx T Black';
}
.subfrase {
  font-size: 20px;
  color: #F7F7F7;
  font-family: "roboto";
  margin-top: 1%;
}
.termo {
  font-size: 15px;
  color: #F7F7F7;
  margin-top: 2%;
  font-family: "roboto";
}
.termo1 {
  color: #101820;
}
.botao-banner {
  border-radius: 50px;
  height: 40px;
  width: 200px;
  background-color: #101820;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-top: 3%;
  border: none;
  font-family: 'Circular Spotify Tx T Black';
}
.botao-banner2 {
  border-radius: 50px;
  height: 40px;
  width: 200px;
  background-color: transparent;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-top: 2%;
  border: transparent;
  font-family: 'Circular Spotify Tx T Black';
}
.botao-banner2:hover {
  transform: scale(1.1);
  opacity: 0.5;
  background-color: #101820;
  text-transform: bold;
}
.botao-banner:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
@media screen and (min-width: 610px) {
  .banner {
    background-color: #BF0032;
  }
}
@media screen and (max-width: 375px) {
  .banner {
    background-color: #BF0032;
  }
  .frase,
  .subfrase {
    text-align: center;
    margin-top: 5%;
  }
  .botao-banner {
    margin-left: 20%;
    margin-top: 8%;
  }
  .botao-banner2 {
    margin-left: 20%;
  }
}
@media screen and (min-width: 425px) {
  .banner {
    background-color: #BF0032;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    background-color: #BF0032;
  }
  .frase,
  .subfrase {
    text-align: center;
    margin-top: 5%;
  }
  .botao-banner {
    margin-left: 20%;
    margin-top: 8%;
  }
  .botao-banner2 {
    margin-left: 20%;
  }
}
.vantagens {
  margin: 4rem auto;
  text-align: center;
}
.vantagens .vantagens__titulo {
  font-family: 'Circular Spotify Tx T Black';
  font-size: 3rem;
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__titulo {
    max-width: 320px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__titulo {
    max-width: 300px;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 320px) {
  .vantagens .vantagens__titulo {
    max-width: 280px;
  }
}
.vantagens .vantagens__itens {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1101px) {
  .vantagens .vantagens__itens {
    width: 1100px;
  }
}
@media screen and (max-width: 1100px) {
  .vantagens .vantagens__itens {
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens {
    width: 100%;
    flex-direction: column;
  }
}
.vantagens .vantagens__itens .vantagens__item {
  margin-top: 2rem;
  width: 375px;
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo {
  width: 100%;
  margin-top: 1rem;
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo {
    margin: 1rem;
    text-align: start;
  }
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
  max-width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Circular Spotify Tx T Black';
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 550px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    font-size: 1.5rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-titulo {
    max-width: 200px;
    font-size: 1.7rem;
  }
}
.vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-texto {
  font-family: 'Roboto';
}
@media screen and (max-width: 420px) {
  .vantagens .vantagens__itens .vantagens__item .vantagens__item__conteudo-texto {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .vantagens .vantagens__itens .vantagens__item {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .vantagens .vantagens__itens .vantagens__item {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .vantagens .vantagens__itens .vantagens__item {
    max-width: 80%;
    margin: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .vantagens .vantagens__itens .vantagens__item {
    margin: 0 1rem;
  }
}
.vantagens .vantagens__item-img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.vantagens .vantagens__item-img img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .vantagens .vantagens__item-img {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .vantagens .vantagens__item-img {
    width: 30%;
  }
}
