* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
body {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Roboto';
  background-color: #2E2E2E;
  color: #FFF;
  letter-spacing: 1px;
  background-image: url('../img/banner.svg');
  background-size: 155%;
  background-position: 61% 10%;
}
header {
  text-align: center;
  padding: 30px 0;
}
header h1 {
  font-size: 32px;
  margin-top: 30px;
  font-weight: bold;
}
a {
  text-decoration: underline;
  color: #e27515;
}
a:hover {
  color: #ed8f3d;
}
.botao-face {
  display: block;
  margin: auto;
  background-color: #3085F3;
  color: #FFF;
  border: none;
  width: 50%;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 18px;
  font-weight: bold;
  transition: 0.3s transform;
  cursor: pointer;
}
.botao-face:hover {
  background: #4d9aff;
  transform: scale(1.05);
}
.termos {
  padding-top: 5px;
  padding-bottom: 24px;
  font-size: 15px;
}
.politicas {
  font-size: 11px;
  padding-bottom: 16px;
}
.ou {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
  color: #FFF;
}
.ou hr {
  width: 170px;
  height: 1px;
  margin: 10px;
  border-style: none;
  background-color: #fff;
}
form {
  margin-bottom: 80px;
}
form label,
p {
  letter-spacing: 1.5px;
}
form .input-padrao {
  width: 100%;
  height: 50px;
  display: block;
  border: black solid 1px;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  background-color: #2E2E2E;
  border: #ffffff solid 1px;
  color: #FFF;
}
input::placeholder {
  color: #949494;
}
.space {
  margin-bottom: 30px;
}
.space label {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}
.numero-tel {
  display: block;
  padding-top: 8px;
  font-size: 14px;
}
.data-nasc {
  display: flex;
  justify-content: center;
}
.data-nasc div {
  margin-right: 12px;
  display: inline-block;
}
fieldset legend {
  margin-bottom: 12px;
  font-weight: bold;
}
.data-nasc input,
select {
  width: 120px;
  height: 50px;
  display: block;
  border: black solid 1px;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  background-color: #2E2E2E;
  border: #ffffff solid 1px;
  color: #FFF;
}
.genero {
  margin-bottom: 30px;
}
.genero label {
  margin-right: 10px;
}
.info {
  margin-bottom: 26px;
  display: block;
  font-size: 15px;
}
.politica-fim {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.radio {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.login {
  text-align: center;
}
.botao-enviar {
  display: block;
  margin: auto;
  background-color: #e27515;
  color: #FFF;
  border: none;
  width: 40%;
  padding: 14px;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 24px;
  margin-top: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3s transform;
}
.botao-enviar:hover {
  background: #ed8f3d;
  transform: scale(1.05);
}
