body {
    margin: 0;
    padding: 0;
}    

/* ###### HEADER ###### */

header {
    background: black;
    padding: 20px 0;
}

.nav-bar {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

.logo{
    fill: #fff;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.logoTexto {
    color: #fff;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    letter-spacing: 5px;
    margin-left: 5px;
    font-weight: 700;
    text-transform: none;
    cursor: default;
}

nav{
    position: absolute;
    right: 0;
    top: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 40px;
}

nav a {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
}

.textoTopo:hover {
    color: #ff179bc0;
}

.separador {
    color: #fff;
    background: currentColor;
    height: 14px;
    width: 1px;
}

/* ###### MAIN ######*/

.fundo {
    background-image: url("../img/Capa.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 115vh;
}

.main_button {
    background-color: #ff179bc0;
    font-size: 17px;
    text-transform: none;
    letter-spacing: normal;
    padding: 14px 32px;
    border-radius: 500px;
    text-decoration: none;
    margin-top: 610px;
    box-shadow: 1px 5px 20px #ff179bc0;
}

.main_button:hover {
    transform: scale(1.04);
}

.main_button_font {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    color: #fff;
    font-weight: bold;
}

/* ###### FOOTER ######*/

footer {
    padding: 80px 0 50px;
    background: #000;
    color: white;
}

footer nav {
    width: 1170px;
    display: flex;
    position: relative;
    margin: 0 auto;
}

nav section {
    width: 230px;
}

footer section ul li {
    padding-bottom: 20px;
}

footer section ul {
    width: 150px;
}

.titulos {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    color: #909090;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    width: 200px;
}

.textoLiFooter {
    font-size: 12px;
}

.textoLiFooter:hover {
    color: #ff179bc0;
}

.midiasSociais section ul {
    display: flex;
}

figure {
    background-color: #222326;
    width: 45px;
    height: 45px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.midiasSociais svg:hover {
    fill: #ff179bc0;
    cursor: pointer;
}

.language {
    margin-top: 200px;
    display: flex;
}

.language * {
    padding: 5px;
}

#Brasil {
    font-size: 12px;
    color: #919496;
}

#Brasil:hover {
    color: #ff179bc0;
}

.disclaimer ul{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.disclaimer ul li {
    padding: 20px;
    font-size: 12px;
}

.disclaimer a {
    color: #919496;
    text-decoration: none;
}

.disclaimer a:hover {
    color: #ff179bc0;
}