header {
    background: black;
    padding: 20px 0;
}

.nav-bar {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

.logo{
    fill: #fff;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.logoTexto {
    color: #fff;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    letter-spacing: 5px;
    margin-left: 5px;
    font-weight: 700;
    text-transform: none;
    cursor: default;
}

nav{
    position: absolute;
    right: 0;
    top: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 40px;
}

nav a {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
}

.textoTopo:hover {
    .hoverDeItens;
}

.separador {
    color: #fff;
    background: currentColor;
    height: 14px;
    width: 1px;
}