<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/cadastro.css">
    <link rel="icon" href="/img/logo.svg">
    <link href="//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=CircularSpotifyTxT-Black"
        rel="stylesheet" type="text/css" />
    <title>Powfy - Cadastro</title>
</head>

<body>

    <div class="fundo">
        <div class="signup">
            <div class="fundoSignup">
                <div class="headerContainer">
                    <div class="logo">
                        <svg id="svgLogo" version="1.0" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 1000.000000 1000.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,1000.000000) scale(0.100000,-0.100000)" fill="#000000"
                                stroke="none">
                                <path d="M3770 9994 c-1025 -71 -1929 -483 -2631 -1200 -204 -210 -336 -373
                                    -492 -609 -347 -528 -563 -1127 -631 -1752 -21 -192 -22 -698 -1 -878 76 -653
                                    291 -1245 648 -1780 669 -1004 1734 -1645 2939 -1770 170 -17 576 -20 743 -5
                                    441 40 853 146 1268 325 l87 37 0 915 c0 1000 -1 984 60 1140 83 216 267 403
                                    482 491 40 16 441 121 891 233 721 180 818 206 822 224 37 159 57 710 36 956
                                    -106 1218 -742 2304 -1751 2988 -554 375 -1176 601 -1845 671 -105 11 -531 20
                                    -625 14z m420 -1959 c47 -4 141 -17 210 -31 959 -191 1650 -1037 1650 -2018 0
                                    -776 -450 -1493 -1153 -1837 -783 -383 -1719 -230 -2337 380 -605 599 -782
                                    1494 -448 2272 304 707 982 1187 1748 1239 112 7 157 7 330 -5z" />
                                <path d="M3840 7450 c-340 -41 -636 -185 -875 -425 -214 -214 -342 -453 -406
                                    -755 -29 -137 -32 -388 -6 -527 110 -599 558 -1059 1157 -1189 121 -26 449
                                    -27 569 -1 302 65 538 193 752 406 208 209 333 435 400 726 30 132 37 385 15
                                    530 -95 614 -582 1113 -1191 1219 -113 20 -317 28 -415 16z m333 -899 c104
                                    -36 174 -81 246 -156 112 -118 161 -240 161 -400 0 -155 -48 -286 -146 -394
                                    -211 -232 -568 -259 -808 -61 -269 222 -288 619 -41 865 80 81 178 136 285
                                    160 86 19 226 13 303 -14z" />
                                <path d="M8065 4770 c-874 -219 -1606 -407 -1625 -417 -51 -27 -99 -79 -126
                                    -137 l-24 -51 0 -1233 c0 -1170 -1 -1233 -17 -1228 -121 35 -155 40 -283 40
                                    -106 -1 -152 -6 -215 -23 -322 -87 -563 -334 -641 -658 -23 -92 -23 -294 0
                                    -386 78 -323 325 -577 640 -657 111 -28 331 -28 437 0 305 79 533 305 631 622
                                    l23 73 3 1141 3 1142 1264 316 c696 174 1267 316 1270 316 3 0 5 -346 5 -769
                                    l0 -769 -72 20 c-40 10 -118 21 -173 25 -606 34 -1070 -563 -883 -1137 94
                                    -291 328 -513 623 -591 114 -31 317 -31 430 0 316 85 555 325 638 641 l22 85
                                    0 1910 0 1910 -27 51 c-53 100 -159 165 -267 163 -25 0 -761 -180 -1636 -399z" />
                            </g>
                        </svg>

                        <a class="logoTexto">POWFY</a>

                    </div>

                    <h2>Inscreva-se grátis e comece a curtir.</h2>
                </div>

                <div class="botaoFacebookContainer">

                    <a href="#">
                        <div class="botaoFacebook">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 167.657 167.657" style="enable-background:new 0 0 167.657 167.657;"
                                xml:space="preserve">
                            <g>
                                <path d="M83.829,0.349C37.532,0.349,0,37.881,0,84.178c0,41.523,30.222,75.911,69.848,82.57v-65.081H49.626
                                    v-23.42h20.222V60.978c0-20.037,12.238-30.956,30.115-30.956c8.562,0,15.92,0.638,18.056,0.919v20.944l-12.399,0.006
                                    c-9.72,0-11.594,4.618-11.594,11.397v14.947h23.193l-3.025,23.42H94.026v65.653c41.476-5.048,73.631-40.312,73.631-83.154
                                    C167.657,37.881,130.125,0.349,83.829,0.349z" />
                                </g>
                            </svg>
                            Inscreva-se com o Facebook
                        </div>
                    </a>

                </div>

                <div class="termos">
                    <label class="check">
                        <input type="checkbox">
                    </label>
                    Eu concordo com os <a id="termosECondicoes" href="#">Termos e Condições de Uso do Powfy.</a>
                </div>

                <p class="saibaMais">
                    <span>
                        Para saber mais sobre como o Powfy coleta, utiliza, compartilha e protege
                        seus dados pessoais, leia a <a id="politicaDePrivacidade" href="#">Política de Privacidade do
                            Powfy.</a>
                    </span>
                </p>

                <span class="formDivider">
                    ou
                </span>

                <form class="form">

                    <div class="formGroup">
                        <div class="labelTextGroup">
                            <label for="email">
                                Qual é o seu email?
                            </label>
                        </div>
                        <input class="inputGroup" id="email" type="email" placeholder="Insira seu e-mail">
                    </div>

                    <div class="formGroup">
                        <div class="labelTextGroup">
                            <label for="confirm">
                                Confirme seu e-mail
                            </label>
                        </div>
                        <input class="inputGroup" id="email" type="email" placeholder="Insira o e-mail novamente.">
                    </div>

                    <div class="formGroup">
                        <div class="labelTextGroup">
                            <label for="password">
                                Crie uma senha
                            </label>
                        </div>
                        <input class="inputGroup" id="password" type="password" placeholder="Crie uma senha">
                    </div>

                    <div class="formGroup">
                        <div class="labelTextGroup">
                            <label for="displayname">
                                Como devemos chamar você?
                            </label>
                        </div>
                        <input class="inputGroup" id="username" type="username" placeholder="Insira um nome de perfil">
                        <div class="labelTextDisplayName">
                            Isso será exibido no seu perfil.
                        </div>
                    </div>

                    <div class="formGroup">
                        <div class="labelTextGroup">
                            <label for="labelIdade">
                                Qual a sua data de nascimento?
                            </label>
                        </div>
                        <div class="dataDeNascimento">
                            <div class="containerDia">
                                <div class="dia">
                                    <div class="labelTextGroup">
                                        <label for="labelDia">
                                            Dia
                                        </label>
                                    </div>

                                    <input type="text" id="dia" inputmode="numeric" maxlength="2"
                                        pattern="((0?[1-9])|([12][0-9])|(3[01]))" placeholder="Dia">

                                </div>
                            </div>

                            <div class="containerMes">
                                <div class="mes">
                                    <div class="labelTextGroup">
                                        <label for="labelMes">
                                            Mês
                                        </label>
                                    </div>

                                    <div class="selectionContainerMes">
                                        <select class="selectionMes">
                                            <option selected disabled value>Mês</option>
                                            <option value="01">Janeiro</option>
                                            <option value="02">Fevereiro</option>
                                            <option value="03">Março</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Maio</option>
                                            <option value="06">Junho</option>
                                            <option value="07">Julho</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Setembro</option>
                                            <option value="10">Outubro</option>
                                            <option value="11">Novembro</option>
                                            <option value="12">Dezembro</option>
                                        </select>
                                        <svg role="img" focusable="false" height="16" width="16" viewBox="0 0 24 24"
                                            aria-hidden="true" class="svgMes">
                                            <polyline points="20 8 12 17 4 8" fill="none" stroke="#181818" />
                                        </svg>
                                    </div>

                                </div>
                            </div>

                            <div class="containerAno">
                                <div class="ano">
                                    <div class="labelTextGroup">
                                        <label for="labelAno">
                                            Ano
                                        </label>
                                    </div>
                                    <input type="text" id="ano" inputmode="numeric" maxlength="4"
                                        placeholder="Ano" pattern="(19[0-9]{2})|(200)[0-5]">
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset role="radiogroup" class="generoContainerGroup">
                        <legend class="legendText">
                            Qual é o seu gênero?
                        </legend>
                        <div class="generoOpcoes">
                            <div class="generoContainer">
                                <label class="check">
                                    <input id="generoMasculino" type="checkbox">
                                </label>
                                <span class="generoText">
                                    Masculino
                                </span>
                            </div>
                            <div class="generoContainer">
                                <label class="check">
                                    <input id="generoMasculino" type="checkbox">
                                </label>
                                <span class="generoText">
                                    Feminino
                                </span>
                            </div>
                            <div class="generoContainer">
                                <label class="check">
                                    <input id="generoMasculino" type="checkbox">
                                </label>
                                <span class="generoText">
                                    Não binário
                                </span>
                            </div>
                        </div>
                    </fieldset>

                    <div class="mensagemMarketing">
                        <div class="checkbox">
                            <input type="checkbox" id="marketingCheckbox" name="marketing" class="visualCheckboxMarketing">
                            <label for="marketing-opt-checkbox">
                                <label class="check">
                                    <input type="checkbox">
                                </label>
                                <span class="marketingText">
                                    Não quero receber mensagens de marketing do Powfy
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="compartilharDados">
                        <div class="checkbox">
                            <input type="checkbox" name="dados" class="visualCheckboxDados">
                            <label for="dados-opt-checkbox">
                                <label class="check">
                                    <input type="checkbox">
                                </label>
                                <span class="dadosText">
                                    Compartilhar meus dados cadastrais com os provedores de
                                    conteúdo do Powfy para filas de marketing.
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="termos">
                        <label class="check">
                            <input type="checkbox">
                        </label>
                        Eu concordo com os <a id="termosECondicoes" href="#">Termos e Condições de Uso do Powfy.</a>
                    </div>

                    <div class="emailForm">
                        <p class="politica">
                            Para saber mais sobre como o Powfy coleta, utiliza, compartilha e protege
                            seus dados pessoais, leia a <a id="politicaDePrivacidade" href="#">Política de Privacidade do
                            Powfy.</a>
                        </p>

                        <div class="signupButton">
                            <button type="submit" class="botaoSubmit">
                                <div class="botaoSubmitInner">Inscreva-se</div>
                            </button>
                        </div>

                        <p class="login">
                            <span class="linkLoginContainer">
                                Já tem uma conta? 
                                <a href="#">
                                    Faça Login
                                </a>
                            </span>
                        </p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>