@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    ;
}
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
    transition: 200ms;
}

a:hover{
    color: #39d453;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

header img {
    width: 120px;
}

header ul {
    display: flex;
}

header ul>li:nth-child(-n+3) {
    font-weight: 700;
}

header ul li {
    color: white;
    list-style-type: none;
    margin: 0 16px;
}

main .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: #2741b1;
}

main .banner h1 {
    font-size: 120px;
    width: 800px;
    text-align: center;
    color: #39d453;
    font-weight: 900;
}

main .banner p {
    color: #39d453;
    margin: 24px 0;
}

main .banner button {
    background-color: #39d453;
    color: #2e56a1;
    border: 0;
    padding: 12px;
    border-radius: 22px;
    font-weight: 700;
    transition: 400ms;
}

main .banner button:hover{
    font-size: 14px;
    padding: 14px;
    margin-bottom: -0.3%;
}

main .banner .banner-circle1{
    background-color: #39d453;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: absolute;
    right: -400px;
}

main .banner .banner-circle2{
    background-color: #39d453;
    border-radius: 50%;
    position: absolute;
    height: 300px;
    width: 300px;
    left: -100px;
    bottom: 300px;
}

.half-circle{
    background-color: #2741b1;
    position: absolute;
    bottom: -15px;
    right: 56px;
    border-radius: 120px 0;
    height: 150px;
    width: 150px;
    z-index: 2;
    transform: rotate(45deg);
}

main .banner .banner-circle3{
    background-color: #39d453;
    border-radius: 60% / 130%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    bottom: 133px;
    left: -350px;
    height: 250px;
    width: 700px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 60px 20%;
}

footer .listas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

footer div {
    margin: 0 40px;
}

footer div img {
    width: 120px;
}

footer ul li {
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
}

footer ul>li:nth-child(-n+1) {
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: 700;
}

.media {
    display: flex;
    justify-content: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    height: 50px;
    width: 50px;
    margin: 0 8px;
    border-radius: 50%;
}

footer div .circle img {
    width: 30px;
}

.legal-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.legal{
    font-size: 12px;
    display: flex;
    color: grey;
}

.legal p{
    margin: 0 10px;
}

.brasil{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 12px;
    display: flex;
    color: grey;
}

.brasil >p:nth-child(-n+1){
    margin-bottom: 10px;
}

